# Resource locations to be added to the default path
[General]
Zip=../../data/core/OgreCore.zip
FileSystem=../../data/core
FileSystem=../../data/scenarioMedia
FileSystem=../../data/CEGUI_datafiles/schemes
FileSystem=../../data/CEGUI_datafiles/imagesets
FileSystem=../../data/CEGUI_datafiles/fonts
FileSystem=../../data/CEGUI_datafiles/looknfeel